dades/activitats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="activitats">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="activitat" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titulo" type="xs:string"/>
              <xs:element name="descripcion" type="xs:string"/>
              <xs:element name="fecha" type="xs:date"/>
              <xs:element name="categoria">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="color" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="prioridad">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="baja"/>
                    <xs:enumeration value="media"/>
                    <xs:enumeration value="alta"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="realizada" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/> 
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>