dades/activitats.dtd

<!ELEMENT activitats (activitat+)>
<!ATTLIST activitats 
          xmlns:xsi CDATA #IMPLIED
          xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
<!ELEMENT activitat (titulo, descripcion, fecha, categoria, prioridad, realizada)>

<!ATTLIST activitat id CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>

<!ELEMENT categoria (nombre, color)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT color (#PCDATA)>

<!ELEMENT prioridad (#PCDATA)>
<!ELEMENT realizada (#PCDATA)>